header {
    background: rgba(63, 9, 124, 0.699);
    background: linear-gradient(
        90deg,
        rgb(86, 11, 136) 0%,
        rgb(152, 107, 194) 47%,
        rgb(195, 159, 214) 100%
    );
    color: whitesmoke;
    font-family: var(--header-font);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    line-height: 89px;
    font-size: 4.5rem;
    padding-top: 15px;
}

h3 {
    white-space: nowrap;
    /* margin-left: 0px; */
    text-align: left;
    display: block;
}

h4 {
    justify-content: center;
    white-space: nowrap;
    /* margin-left: 0px; */
    font-size: large;
    align-items: center;
    padding-top: 15px;
}

.container {
    margin-top: 50px;
}
.localCitySearch {
    align-items: center;
    margin-bottom: 5px;
    border: 1px;
    border-style: solid;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}
